body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    font-size: 3 rem;
    color: #ff6347;
    text-align: center;
}

.main-container{
    display: flex;
    align-items: center;
    width: 40%;
    max-width: 1200px;
    margin: 20px;
  }
  .login{
    flex: 1;
    background-color: #faa47c;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0,0,0.1);
    width: 5px;
    height: 700px;
  }

  .logimage{
    width: 5px;
    border-radius: 20px;
  }